@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  font-family: "Roboto Mono", serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #222;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #f9f6ef;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #f9f6ef !important;
}

body {
  background-color: #f9f6ef !important;
}

nav#sideNav {
  border: 2px solid black;
}

.text-primary {
  color: #222 !important;
}

nav#sideNav {
  box-shadow: 0.3vw 0.3vw #222;
}

a {
  color: #222;
}

a:hover, a:focus, a:active {
  color: #e4d7b7;
  transition: 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.subheading a {
  color: #868e96 !important;
}

.work {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: white;
  border: 2px solid black;
}

.work-text {
  width: 70%;
}

.work-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
}

.work-img-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  background-color: green;
  border: 2px solid #222;
  text-align: right;
}

.work img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cell img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
}

.portfolio-wrapper {
  margin-bottom: 25px !important;
}

.portfolio-text {
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: baseline;
}

.portfolio-text-bottom {
  margin-top: 90%;
  justify-content: space-around;
}

.portfolio-image-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #fff;
  max-width: 70%;
}

img.boxy:hover {
  box-shadow: 10px 10px 0 black;
  transition: 0.3s ease all;
  background-color: #333;
}

a:hover {
  color: none;
  transition: 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

a:hover {
  color: #333;
  transition: 50ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  /* background-color: black; */
  box-shadow: 4px 4px 0 black;
  border: 1px solid #333;
  text-decoration: none;
  /* border: none; */
}

.list-social-icons a:hover {
  box-shadow: none;
  border: none;
  transition: 99ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

ul.navbar-nav {
  font-family: "poppins";
}

a.navbar-brand.js-scroll-trigger:hover {
  box-shadow: none;
  border: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

button.navbar-toggler:focus,
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: 4px 4px 0 black;
  border: 2px solid black;
}

.btn:focus,
.btn:active,
button {
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  /* give your style */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  /* give your style */
  outline: 0 none;
  /* give your style */
}
